USE [master]
GO
/****** Object:  Database [QL_BanTraSua]    Script Date: 26/05/2026 13:07:23 ******/
CREATE DATABASE [QL_BanTraSua]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_BanTraSua', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QL_BanTraSua.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_BanTraSua_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QL_BanTraSua_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_BanTraSua].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_BanTraSua]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 26/05/2026 13:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[TenSanPham] [nvarchar](150) NOT NULL,
	[Size] [varchar](5) NOT NULL,
	[MucDuong] [varchar](10) NOT NULL,
	[MucDa] [varchar](15) NOT NULL,
	[DanhSachTopping] [nvarchar](300) NULL,
	[GiaTopping] [decimal](10, 0) NOT NULL DEFAULT ((0)),
	[DonGia] [decimal](10, 0) NOT NULL,
	[SoLuong] [int] NOT NULL DEFAULT ((1)),
	[ThanhTien] [decimal](10, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietKhuyenMai]    Script Date: 26/05/2026 13:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietKhuyenMai](
	[MaKhuyenMai] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietKhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 26/05/2026 13:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[HinhAnh] [varchar](255) NULL,
	[ThuTuHienThi] [int] NOT NULL DEFAULT ((0)),
	[TrangThai] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 26/05/2026 13:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[TenNguoiNhan] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[DiaChiGiaoHang] [nvarchar](300) NOT NULL,
	[GhiChu] [nvarchar](300) NULL,
	[TamTinh] [decimal](10, 0) NOT NULL DEFAULT ((0)),
	[GiamKhuyenMai] [decimal](10, 0) NOT NULL DEFAULT ((0)),
	[GiamVoucher] [decimal](10, 0) NOT NULL DEFAULT ((0)),
	[TongThanhToan] [decimal](10, 0) NOT NULL DEFAULT ((0)),
	[MaVoucherDaDung] [varchar](50) NULL,
	[TrangThai] [varchar](20) NOT NULL DEFAULT ('ChoXacNhan'),
	[LyDoHuy] [nvarchar](300) NULL,
	[NgayDat] [datetime] NOT NULL DEFAULT (getdate()),
	[NgayCapNhat] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 26/05/2026 13:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[TenChuongTrinh] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[KieuGiam] [varchar](10) NOT NULL,
	[GiaTri] [decimal](10, 2) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TrangThai] [varchar](15) NOT NULL DEFAULT ('NhapNhay'),
	[NgayTao] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LichSuVoucher]    Script Date: 26/05/2026 13:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuVoucher](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaVoucher] [int] NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[SoTienGiam] [decimal](10, 0) NOT NULL,
	[NgayDung] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_LSV_DonHang] UNIQUE NONCLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 26/05/2026 13:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[DiaChi] [nvarchar](300) NULL,
	[VaiTro] [varchar](20) NOT NULL DEFAULT ('KhachHang'),
	[TrangThai] [bit] NOT NULL DEFAULT ((1)),
	[NgayTao] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 26/05/2026 13:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[MaDanhMuc] [int] NOT NULL,
	[TenSanPham] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[HinhAnh] [varchar](255) NULL,
	[GiaS] [decimal](10, 0) NOT NULL DEFAULT ((0)),
	[GiaM] [decimal](10, 0) NOT NULL DEFAULT ((0)),
	[GiaL] [decimal](10, 0) NOT NULL DEFAULT ((0)),
	[TongLuotMua] [int] NOT NULL DEFAULT ((0)),
	[LaBanChay] [bit] NOT NULL DEFAULT ((0)),
	[TrangThai] [bit] NOT NULL DEFAULT ((1)),
	[NgayTao] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPham_Topping]    Script Date: 26/05/2026 13:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham_Topping](
	[MaSanPham] [int] NOT NULL,
	[MaTopping] [int] NOT NULL,
 CONSTRAINT [PK_SanPham_Topping] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC,
	[MaTopping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Topping]    Script Date: 26/05/2026 13:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topping](
	[MaTopping] [int] IDENTITY(1,1) NOT NULL,
	[TenTopping] [nvarchar](100) NOT NULL,
	[GiaThem] [decimal](10, 0) NOT NULL DEFAULT ((0)),
	[TrangThai] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[MaTopping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 26/05/2026 13:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Voucher](
	[MaVoucher] [int] IDENTITY(1,1) NOT NULL,
	[MaCode] [varchar](50) NOT NULL,
	[MoTa] [nvarchar](300) NULL,
	[KieuGiam] [varchar](10) NOT NULL,
	[GiaTri] [decimal](10, 2) NOT NULL,
	[DonHangToiThieu] [decimal](10, 0) NOT NULL DEFAULT ((0)),
	[SoLuongPhatHanh] [int] NULL,
	[DaDung] [int] NOT NULL DEFAULT ((0)),
	[NgayBatDau] [date] NOT NULL,
	[NgayHetHan] [date] NOT NULL,
	[TrangThai] [varchar](15) NOT NULL DEFAULT ('ConHieuLuc'),
	[NgayTao] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_ChiTiet_DonHang]    Script Date: 26/05/2026 13:07:24 ******/
CREATE NONCLUSTERED INDEX [IX_ChiTiet_DonHang] ON [dbo].[ChiTietDonHang]
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHang_NguoiDung]    Script Date: 26/05/2026 13:07:24 ******/
CREATE NONCLUSTERED INDEX [IX_DonHang_NguoiDung] ON [dbo].[DonHang]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DonHang_TrangThai]    Script Date: 26/05/2026 13:07:24 ******/
CREATE NONCLUSTERED INDEX [IX_DonHang_TrangThai] ON [dbo].[DonHang]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_BanChay]    Script Date: 26/05/2026 13:07:24 ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_BanChay] ON [dbo].[SanPham]
(
	[LaBanChay] ASC,
	[TongLuotMua] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_DanhMuc]    Script Date: 26/05/2026 13:07:24 ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_DanhMuc] ON [dbo].[SanPham]
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_TrangThai]    Script Date: 26/05/2026 13:07:24 ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_TrangThai] ON [dbo].[SanPham]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Voucher_MaCode]    Script Date: 26/05/2026 13:07:24 ******/
CREATE NONCLUSTERED INDEX [IX_Voucher_MaCode] ON [dbo].[Voucher]
(
	[MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_SanPham]
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_CTKM_KhuyenMai] FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([MaKhuyenMai])
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai] CHECK CONSTRAINT [FK_CTKM_KhuyenMai]
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_CTKM_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai] CHECK CONSTRAINT [FK_CTKM_SanPham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NguoiDung]
GO
ALTER TABLE [dbo].[LichSuVoucher]  WITH CHECK ADD  CONSTRAINT [FK_LSV_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[LichSuVoucher] CHECK CONSTRAINT [FK_LSV_DonHang]
GO
ALTER TABLE [dbo].[LichSuVoucher]  WITH CHECK ADD  CONSTRAINT [FK_LSV_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[LichSuVoucher] CHECK CONSTRAINT [FK_LSV_NguoiDung]
GO
ALTER TABLE [dbo].[LichSuVoucher]  WITH CHECK ADD  CONSTRAINT [FK_LSV_Voucher] FOREIGN KEY([MaVoucher])
REFERENCES [dbo].[Voucher] ([MaVoucher])
GO
ALTER TABLE [dbo].[LichSuVoucher] CHECK CONSTRAINT [FK_LSV_Voucher]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[SanPham_Topping]  WITH CHECK ADD  CONSTRAINT [FK_SPT_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[SanPham_Topping] CHECK CONSTRAINT [FK_SPT_SanPham]
GO
ALTER TABLE [dbo].[SanPham_Topping]  WITH CHECK ADD  CONSTRAINT [FK_SPT_Topping] FOREIGN KEY([MaTopping])
REFERENCES [dbo].[Topping] ([MaTopping])
GO
ALTER TABLE [dbo].[SanPham_Topping] CHECK CONSTRAINT [FK_SPT_Topping]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [CK_CTDH_DonGia] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [CK_CTDH_DonGia]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [CK_CTDH_MucDa] CHECK  (([MucDa]='NhieuDa' OR [MucDa]='VuaDa' OR [MucDa]='ItDa' OR [MucDa]='KhongDa'))
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [CK_CTDH_MucDa]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [CK_CTDH_MucDuong] CHECK  (([MucDuong]='100%' OR [MucDuong]='70%' OR [MucDuong]='50%' OR [MucDuong]='30%' OR [MucDuong]='0%'))
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [CK_CTDH_MucDuong]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [CK_CTDH_Size] CHECK  (([Size]='L' OR [Size]='M' OR [Size]='S'))
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [CK_CTDH_Size]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [CK_CTDH_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [CK_CTDH_SoLuong]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [CK_CTDH_ThanhTien] CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [CK_CTDH_ThanhTien]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [CK_DonHang_TamTinh] CHECK  (([TamTinh]>=(0)))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [CK_DonHang_TamTinh]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [CK_DonHang_TongTT] CHECK  (([TongThanhToan]>=(0)))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [CK_DonHang_TongTT]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [CK_DonHang_TrangThai] CHECK  (([TrangThai]='DaHuy' OR [TrangThai]='HoanThanh' OR [TrangThai]='DangGiao' OR [TrangThai]='DangChuanBi' OR [TrangThai]='ChoXacNhan'))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [CK_DonHang_TrangThai]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CK_KhuyenMai_GiaTri] CHECK  (([GiaTri]>(0)))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CK_KhuyenMai_GiaTri]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CK_KhuyenMai_KieuGiam] CHECK  (([KieuGiam]='SoTien' OR [KieuGiam]='PhanTram'))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CK_KhuyenMai_KieuGiam]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CK_KhuyenMai_NgayHopLe] CHECK  (([NgayKetThuc]>[NgayBatDau]))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CK_KhuyenMai_NgayHopLe]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CK_KhuyenMai_TrangThai] CHECK  (([TrangThai]='KetThuc' OR [TrangThai]='DangChay' OR [TrangThai]='NhapNhay'))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CK_KhuyenMai_TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [CK_NguoiDung_VaiTro] CHECK  (([VaiTro]='KhachHang' OR [VaiTro]='Admin'))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [CK_NguoiDung_VaiTro]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_SanPham_GiaL] CHECK  (([GiaL]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_SanPham_GiaL]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_SanPham_GiaM] CHECK  (([GiaM]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_SanPham_GiaM]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_SanPham_GiaS] CHECK  (([GiaS]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_SanPham_GiaS]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_SanPham_LuotMua] CHECK  (([TongLuotMua]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_SanPham_LuotMua]
GO
ALTER TABLE [dbo].[Topping]  WITH CHECK ADD  CONSTRAINT [CK_Topping_GiaThem] CHECK  (([GiaThem]>=(0)))
GO
ALTER TABLE [dbo].[Topping] CHECK CONSTRAINT [CK_Topping_GiaThem]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK_Voucher_DaDung] CHECK  (([DaDung]>=(0)))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK_Voucher_DaDung]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK_Voucher_DonToiThieu] CHECK  (([DonHangToiThieu]>=(0)))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK_Voucher_DonToiThieu]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK_Voucher_GiaTri] CHECK  (([GiaTri]>(0)))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK_Voucher_GiaTri]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK_Voucher_KieuGiam] CHECK  (([KieuGiam]='SoTien' OR [KieuGiam]='PhanTram'))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK_Voucher_KieuGiam]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK_Voucher_Ngay] CHECK  (([NgayHetHan]>[NgayBatDau]))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK_Voucher_Ngay]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK_Voucher_TrangThai] CHECK  (([TrangThai]='HetHan' OR [TrangThai]='DaHetLuot' OR [TrangThai]='ConHieuLuc'))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK_Voucher_TrangThai]
GO
USE [master]
GO
